Order Deny,Allow
Deny from all
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# заборонені файли
RewriteRule .htaccess - [F]
RewriteRule template.php - [F]

# правила mod_rewrite
RewriteRule page/([a-z0-9_-]+)([\/]{0,1})\.htm$ index.php?option=page&alias=$1 [L]
